doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width,initial-scale=1')
      meta(name='author', content='jjwyse')

      link(rel='shortcut icon', href='/images/favicon.ico')
      link(rel='stylesheet', href='/css/bootstrap.min.css')

      script(src='https://cdn.socket.io/socket.io-1.0.6.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
      script(src='/js/bootstrap.min.js')

      title=title
   body
      .content
         .jumbotron
            .container
               h1 👂 listener.
            hr
         .container
            .webhooks
      footer
         .container
            p &copy;
               a(href='http://joshuawyse.com', target='_blank')  jjwyse
               |  2018


         script.
            var socket = io();
            const uri = window.location.pathname;
            console.log(`Listening for events on ${uri}`);
            if (uri === '/') {
               $('.webhooks').prepend('<h2>v0.2.0 update: now supports custom URIs, so you can go to any /yourUri and webhooks that are sent to that will only be sent to any clients on that URI</h2>');
            }
            socket.on(uri, function (webhook) {
               var body = webhook.body;
               var headers = webhook.headers;
               $('.webhooks').prepend('<br>');
               $('.webhooks').prepend('<hr>');
               $('.webhooks').prepend('<br>');
               $('.webhooks').prepend(headers);
               $('.webhooks').prepend('<br>');
               $('.webhooks').prepend('<h3>Headers:</h3>');
               $('.webhooks').prepend(body);
               $('.webhooks').prepend('<br>');
               $('.webhooks').prepend('<h3>Body:</h3>');
               $('.webhooks').prepend('<br>');
               $('.webhooks').prepend(new Date());
            });
